.reserve-seats {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    background-color: black;
    gap: 5px;

    > .screen {
        width: 600px;
        height: 40px;
        background-color: red;
    }
}
